@model BlackSales.Models.ProductCategoryViewModel


<form>
    <div class="container px-4 text-center">
        <div class="row gx-5">
            @foreach (var urun in Model.Products)
            {

                <div class="col-md-4">
                    <div class="card">
                        <img src="/uploads/@urun.ImagePath" alt="@urun.Name" class="card-img-top img-fluid">
                        <div class="card-body mb-2">
                            <h5 class="card-title">@urun.Name</h5>
                            <p class="card-text">Fiyat: @urun.Price.ToString("N") TL</p>
                            <p class="card-text">Oluşturulma Tarihi: @urun.CreatedDate.ToString("dd.MM.yyyy")</p>
                            <p class="card-text">Güncelleme Tarihi: @urun.UpdatedDate.ToString("dd.MM.yyyy")</p>
                            @foreach (var cate in Model.Categories)
                            {
                                if (cate.id == urun.CategoryId)
                                {
                                    <p class="card-text">@cate.Name</p>
                                }
                            }
                            <div class="card-footer mt-2">
                                <p><button name="Fiyat" class="btn btn-primary">Satın Al</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>